<ul style="list-style:none;">
    <% post.comments.each do |comment| %>
        <div class="row">
            <li class="comment">
            	<div class="col-xs-2">
                	<%= attachment_image_tag comment.user.icon_image, :icon_image, :fill, 40, 40, format: 'jpeg', fallback: "20161008_noimage 2 2.png", size:'40x40' %>
                </div>
                <div class="col-xs-8">
                	<%= comment.user.name %>
                	<%= comment.comment %><br>
                	<%= comment.created_at.strftime('%Y/%m/%d') %>
                </div>
                <% if comment.user_id == current_user.id %>
                    <div class="col-xs-2">
                        <%= link_to "Destroy",  post_comment_path(post_id: post, id: comment ), method: :delete, remote:true, data: { confirm: '削除しますか？' }, class:"btn-default btn-sm btn btn-primary " %>
                    </div>
                <% end %>
            </li>
        </div>
    <% end %>
</ul>
