<div class="row">
	<div class="col-xs-12">
		<h1>Search Post </h1>
	</div>
</div>
<div class="row">
	<table class="table">
		<% @posts.each do |post| %>
			<tr>
				<td>
					<div class="post">
						<div class="row">
							<%= link_to user_path(post.user.id) do %>
								<div class="post_user_image">
									<div class="col-xs-2">
										<%= attachment_image_tag post.user, :icon_image, :fill, 40, 40, format: 'jpeg', fallback: "20161008_noimage 2 2.png", size:'40x40' %>
									</div>
								</div>
								<div class="post_user_name">
									<div class="col-xs-2">
										<%= post.user.name %>
									</div>
								</div>
							<% end %>
						</div>
						<div class="row">
							<div class="post_image">
								<%= attachment_image_tag post, :post_image, :fill, 600, 600, format: 'jpeg', fallback: "20161008_noimage 2 2.png", size:'600x600'  %>
							</div>
							<div class="col-xs-1">
								<div id="favorite_btn-<%= post.id %>">
									<!-- idだけだとどのpostの物かわからない為post.idを持たせる -->
									<%= render 'favorites/favorite', post: post %>
								</div>
							</div>
							<div class="col-xs-1">
								<div class="comment_icon" >
									<laval for="comment_comment"><i class="far fa-comment fa-2x"></i>
									</laval>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="post_collapse">
								<%= render 'posts/collapse', post: post %>
							</div>
						</div>
					</div>
				</td>
			<tr>
		<% end %>
	</table>
</div>
