<div class="account">
  <h2 class="title">Log in</h2>
  <div class="form_field">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", id:"form-style"%>
    </div>
    <br>
    <br>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", id:"form-style" %>
      <br>
      <br>
      <%= f.submit "Log in", class:"btn-transparent btn-lg", id:"btn" %>
    </div>
    <div class="actions">
    </div>
  <% end %>
  <%= render "users/shared/links" %>
</div>





