<div class="row">
	<div class="media">
		<div class="col-xs-3">
			<%= attachment_image_tag @user, :icon_image, :fill, 100, 100, format: 'jpeg', fallback: "20161008_noimage 2 2.png",size:'100x100', id:"user_image",class:"img-circle"%>
		</div>
		<div class="col-xs-9">
			<div class="row" id="media_body">
				<div class="col-xs-7 ">
					<h3 class="media_name">
						<%= @user.name %>
					</h3>
				</div>
				<div class="col-xs-5 ">
					<% if @user.id == current_user.id %>
						<div class="user_edit_modal">
							<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#userEditModal" data-backdrop="false">
								<span class="glyphicon glyphicon-cog"></span>
							</button>
							<div class="modal" id="userEditModal" role="dialog" >
							  <div class="modal-dialog modal-dialog-centered" >
							    <div class="modal-content">
							      <div class="modal-header">
							        <h1 class="modal-title">Edit User</h1>
							        <button type="button" class="close" data-dismiss="modal" >
							          <span class="glyphicon glyphicon-remove" ></span>
							        </button>
							      </div>
							      <div class="modal-body">
							      	<%= form_for @user do |f| %>
							      	<div class="row">
										<% if @user.errors.any? %>
									      <div class="alert-warning">
									        <ul>
									          <% @user.errors.full_messages.each do |message| %>
									            <li><%= message %></li>
									          <% end %>
									        </ul>
									      </div>
									    <% end %>
									</div>
							 		<div class="row">
						 		    	<div class="form-group">
						 		    		<%= f.label "ニックネーム" %>
						 		    		<%= f.text_field :name , rows:'1', class: "form-control"%>
						 		    	</div>
										<div class="form-group">
							            	<%= f.attachment_field :icon_image, id:"image" %>
							 		    	<% if @user.icon_image.present? %>
											  <%= image_tag @user.icon_image, id: :img_prev %>
											<% else %>
											  <%= image_tag "20161008_noimage 2 2.png", id: :img_prev %>
											<% end %>
						 		    	</div>
						 		    </div>
						 	  	  </div>
							  	  <div class="modal-footer">
							    		<div class="form-group">
						    				<%= f.submit 'Update' , class:"btn-default btn-lg btn " %>
					    			    </div>
									<% end %>
						      	  </div>
								</div>
							  </div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<table class="table">
		<tbody>
			<tr>
			<% @posts.each do |post| %>
				<td>
					<div class="post">
						<div class="row">
							<% if post.user_id == current_user.id %>
								<%= render 'posts/edit', post: post %>
							<% end %>
							<div class="post_image">
								<button type="button" data-toggle="modal" data-target="#postModal<%= post.id %>" data-backdrop="false" id="post_image">
									<%= attachment_image_tag post, :post_image, :fill, 614, 614, format: 'jpeg', fallback: "20161008_noimage 2 2.png", size:'300x300',id:"post_image" %>
									<p>♡<%= post.favorites.count %></p>
									<i class="far fa-comment fa-2x"><%= post.comments.count %></i>
								</button>
								<div class="modal" id="postModal<%= post.id %>" role="dialog" >
									<div class="modal-dialog modal-dialog-centered" >
										<div class="modal-content" id="post_modal">
										    <div class="modal-header">
											    <button type="button" class="close" data-dismiss="modal" >
											      <span class="glyphicon glyphicon-remove" ></span>
											    </button>
										    </div>
										    <div class="modal-body">
												<div class="post">
													<div class="row">
														<div class="post_image">
															<div class="col-xs-10" >
																<%= attachment_image_tag post, :post_image, :fill, 614, 614, format: 'jpeg', fallback: "20161008_noimage 2 2.png", size:'400x400' %>
															</div>
															<div class="col-xs-2">
																<% if post.user_id == current_user.id %>
																<% end %>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-xs-1">
															<div id="favorite_btn-<%= post.id %>">
																<%= render 'favorites/favorite', post: post %>
															</div>
														</div>
														<div class="col-xs-1">
															<div class="comment_icon" >
																<laval for="comment_comment"><i class="far fa-comment fa-2x"></i>
																</laval>
															</div>
														</div>
													</div>
													<div class="post_collapse">
														<%= render 'posts/collapse', post: post %>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				<td>
			<% end %>
			</tr>
		</tbody>
	</table>
</div>

