<%= flash[:notice] %>
<div class="container">
	<div class="row">
		<div class="mrdia">
			<div class="media-left">
				<%= attachment_image_tag @user, :icon_image, :fill, 40, 40, format: 'jpeg', fallback: "20161008_noimage 2 2.png",size:'40x40' %>
			</div>
			<div class="media-body">
				<div class="row">
					<div class="col-md-2">
						<h3 class="media_name">
							<%= @user.name %>
						</h3>
					</div>
					<div class="col-md-2">
						<div class="user_edit_modal">
							<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#userEditModal">
								<span class="glyphicon glyphicon-cog"></span>
							</button>
							<div class="modal" id="userEditModal" role="dialog" >
							  <div class="modal-dialog modal-dialog-centered" >
							    <div class="modal-content">
							      <div class="modal-header">
							        <h1 class="modal-title">Edit User</h1>
							        <button type="button" class="close" data-dismiss="modal" >
							          <span class="glyphicon glyphicon-remove" ></span>
							        </button>
							      </div>
							      <div class="modal-body">
							      	<%= form_for @user do |f| %>
							 		<div class="row">
						 		    	<div class="form-group">
						 		    		<%= f.text_field :name %>
						 		    	</div>
										<div class="form-group">
							                <%= f.attachment_field :icon_image %>
						 		    	</div>
						 		    </div>
						 	  	  </div>
							  	  <div class="modal-footer">
							    		<div class="form-group">
						    				<%= f.submit 'Update' , class:"btn-default btn-lg btn btn-primary " %>
					    			    </div>
									<% end %>
						      	  		</div>
								  </div>
							    </div>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<table class="table">
			<% @posts.each_with_index do |post, i| %>
				<tr>
					<td>
						<div class="post">
							<div class="row">
								<div class="post_image">
									<div class="col-xs-4">
										<%= attachment_image_tag post, :post_image, :fill, 300, 100, format: 'jpeg', fallback: "20161008_noimage 2 2.png", size:'40x40'  %>
									</div>
								</div>
								<div class="post_edit_modal">
									<div class="col-xs-2">
										<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#postEditModal<%= i %>">
											<span class="glyphicon glyphicon-align-justify"></span>
										</button>
										<div class="modal" id="postEditModal<%= i %>" role="dialog" >
										  <div class="modal-dialog modal-dialog-centered" >
										    <div class="modal-content">
										      <div class="modal-header">
										      	<h1>Edit Post</h1>
										      </div>
										        <button type="button" class="close" data-dismiss="modal" >
										          <span class="glyphicon glyphicon-remove" ></span>
										        </button>
										      </div>
										      <div class="modal-body">
										      	<%= form_for post do |f| %>
										 		<div class="row">
									 		    	<div class="form-group">
									 		    		<%= f.text_field :title %>
									 		    	</div>
									 		    	<div class="form-group">
									 		    		<%= f.text_area :post_body %>
									 		    	</div>
										 		</div>
										 		<div class="row">
										 			<div class="col-xs-2">
										 		    	<div class="form-group">
										 		    		<%= f.text_field :winding %>
										 		    	</div>
										 		    </div>
										 		    <div class="col-xs-2">
										 		    	<div class="form-group">
										 		    		<%= f.text_field :item %>
										 		    	</div>
										 		    </div>
										 		    <div class="col-xs-2">
										 		    	<div class="form-group">
										 		    		<%= f.text_field :size %>
										 		    	</div>
										 		    </div>
										 		</div>
										        <div class="row">
													<div class="form-group">
										                <%= f.attachment_field :post_image %>
									 		    	</div>
									 		    </div>
									 	  	  </div>
										  	  <div class="modal-footer">
										    		<div class="form-group">
										    			<div class="col-xs-2">
										    				<%= f.submit 'Update' , class:"btn-default btn-lg btn btn-primary " %>
										    			</div>
										    			<div class="col-xs-2">
										    				 <%= link_to "Destroy", post_path(post), method: :delete, data: { confirm: '削除しますか？' }, class:"btn-default btn-lg btn btn-primary " %>
									      	  			</div>
											  		</div>
												<% end %>
										      </div>
										  </div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="show.post_collapse">
									<a href="#collapse<%= i %>" data-toggle="collapse" >続きを読む</a>
									<div id="collapse<%= i %>" class="collapse">
										<h3><%= post.title %></h3><br>
										<%= post.post_body %><br>
										<%= post.item %><br>
										<%= post.winding %><br>
										<%= post.size %>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>