<div class="form_group">
	<%= form_tag(style_path, method: :get) do %>
	<!-- 特にデータを保存せずに次のページに表示するだけだからgetを使う。postにするとデータが消えてしまう -->
		<div class="row">
			<div class="col-xs-5">
				<h1>あなたの顔型を選択</h1>
						<% @forms.each do |form| %>
							<div class="row">
								<div class="form-check">
									<%= check_box_tag :form_id, form.id, false, class: "form-check-input" %>
<!-- :form_idは名前の定義だからなんでも良い form.idは次のビューで必要な情報はidなので表記 オールチェックされた為false表記
検証で見ると→ <input type="checkbox" name="form_id" id="form_id" value="3" class="form-check-input"> -->
<!--                                                                ↑ idがちゃんと出てOK -->
									<%= form.form_name %>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<%= attachment_image_tag form, :form_image, :fill, 150, 200, fallback: "20161008_noimage 2 2.png", size:'150x200' %>
									</div>
									<div class="col-xs-6">
										<%= form.form_body %>
									</div>
								</div>
							</div>
						<% end %>
			</div>
			<div class="col-xs-2">
			</div>
			<div class="col-xs-5">
				<h1>髪の長さを選択</h1>
					<% @lengths.each do |length| %>
						<div class="row">
							<div class="form-check">
								<%= check_box_tag :length_id, length.id, false, class:  "form-check-input"  %>
								<%= length.length_name %>
							</div>
						</div>
						<div class="row">
							<%= attachment_image_tag length, :length_image, :fill, 200, 200, fallback: "20161008_noimage 2 2.png", size:'200x200' %>
						</div>
					<% end %>
				<%= submit_tag "Search Start", class:"btn-default btn-lg btn ", id:"stylebut" %>
			</div>
		</div>
	<% end %>
</div>