<div class="col-xs-9">
  <div id="topCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
  <!-- classでcarousel slideで全体を囲む data-ride=carousel 画像を読み込んだらスライド開始（データ属性） -->
    <div class="carousel-inner" role="listbox">
    <!-- role=listbox selextと似ている listboxは画像を含む事ができる -->
      <div class="item active">
        <%=image_tag 'IMG_7800.JPG', :size =>'1000x400' %>
      </div>
      <div class="item">
        <%=image_tag 'IMG_7808.JPG', :size =>'1000x400'%>
      </div>
      <div class="item">
        <%=image_tag 'IMG_7815.JPG', :size =>'1000x400'%>
      </div>
      <div class="item">
        <%=image_tag 'IMG_7830.JPG', :size =>'1000x400'%>
      </div>
      <div class="item">
        <%=image_tag 'IMG_7849.JPG', :size =>'1000x400'%>
      </div>
      <div class="item">
        <%=image_tag 'IMG_7850 2.JPG', :size =>'1000x400'%>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-3">
  <div class="col-xs-12 text-left">
    <h1>Do<br>you<br>know<br> yourself?</h1>
    <br>
    <P>あなたの<strong>Personal Style</strong>を見つけましょう</P>
    <%= link_to posts_path do %>
      <%= image_tag 'logo.jpg', :size =>'300x250' %>
    <% end %>
  </div>
  <div class="col-xs-9">
    <div class="about_modal">
      <button type="button" class="btn btn-default btn" data-toggle="modal" data-target="#aboutModal">Dr.hairとは??</button>
        <div class="modal" id="aboutModal" role="dialog" >
          <div class="modal-dialog modal-dialog-centered" >
            <div class="modal-content" id="about_modal">
              <div class="modal-header">
                <h1 class="modal-title">Dr.hair</h1>
                  <button type="button" class="close" data-dismiss="modal" >
                    <span class="glyphicon glyphicon-remove" ></span>
                  </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <P>
                    『<strong>personal</strong>』を見つける。<br>
                    さらに自分自身のpersonalを発信するサービスです。<br>
                    <br>
                    あなたは美容室でスタイルチェンジをする際、<br>
                    なんとなく流行りのヘアスタイルを選んでいませんか？？<br>
                    流行だけ取り入れても自分に合わない事が多いです。<br>
                    トレンドの洋服でもサイズが合ってない事で<br>
                    イマイチ似合わない経験はありませんか？<br>
                    <br>
                    ヘアスタイルも洋服のサイズと同様です。<br>
                    自分自身に合った<strong>pesonal</strong>を知りましょう！<br>
                    <br>
                    1.自分の骨格の形をもっと知りましょう！<br>
                    ヘアスタイルは骨格に「プラス」「マイナス」を施し顔のバランスを良くするアイテムです。<br>
                    おでこが広い、ハチが張りやすい、エラがあるなど人それぞれの形があります。<br>
                    まず自分のベースの形を知る事で自ずとスタイルのベースが決まってきます。<br>
                    ⚠︎美容室に行く際も気になる部分を明確に伝える事が大事です。<br>
                    <br>
                    2.スタイリングの大切さを知りましょう！<br>
                    骨格に合った形にどんなにきれいにカットをされていてもスタイリングで結果が決まります。<br>
                    生かすも殺すもスタイリング次第になってきます！<br>
                    そして、好みやトレンドに変化させていくのもスタイリングです。<br>
                    左のスライドはスタイリングで上下に異なる印象のスタイルにしています。<br>
                    このようにスタイリングは印象を<strong>大きく</strong>変えます。<br>
                    <br>
                    巻き方、セット材、コテのmm数などで投稿記事を絞ってスタイリングの<strong>pesonal</strong>も見つけましょう。<br>
                    <br>
                    Dr.hairは<br>
                    「あなたに合った形」＋「トレンド」＝『<strong>personal stayle</strong>』を提供します。<br>
                    <br>
                  </P>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
