<div class="row">
	<div class="col-xs-8">
		<div class="alert-warning">
			<% if @post.errors.any? %>
		        <ul>
		        <% @post.errors.full_messages.each do |message| %>
		            <li><%= message %></li>
		        <% end %>
		        </ul>
			<% end %>
		</div>
		<table class="table">
			<% @posts.each do |post| %>
			<%# @posts.each_with_index do |post, i| %>
			<!-- 普通のeach文ではcollapseがeachされなかった為それぞれの数字を定義してiを持たせたけどpost.idは一個しかないからpost.idで良かった -->
			<!-- <a href="#collapse<%#= i %>" data-toggle="collapse" >続きを読む</a>
			<div id="collapse<%#= i %>" class="collapse"> -->
				<tr>
					<td>
						<div class="post_index">
							<div class="row">
								<%= link_to user_path(post.user.id) do %>
									<div class="col-xs-1">
										<div class="post_user_image">
											<%= attachment_image_tag post.user, :icon_image, :fill, 60, 60, format: 'jpeg', fallback: "20161008_noimage 2 2.png", size:'40x40', id:"mini_user_image", class:"img-circle" %>
										</div>
									</div>
									<div class="post_user_name">
										<div class="col-xs-2">
											<strong><%= post.user.name %></strong>
										</div>
									</div>
								<% end %>
							</div>
							<div class="row">
								<div class="list_image">
									<%= attachment_image_tag post, :post_image, format: 'jpeg', fallback: "20161008_noimage 2 2.png", size:'550x550'  %>
								</div>
								<div id="favorite_btn-<%= post.id %>" class="post_body">
									<!-- idだけだとどのpostの物かわからない為post.idを持たせる -->
									<%= render 'favorites/favorite', post: post %>
								</div>
							</div>
							<div class="row">
								<div class="post_collapse">
									<%= render 'posts/collapse', post: post %>
								</div>
							</div>
						</div>
					</td>
				<tr>
			<% end %>
		</table>
	</div>
	<div class="col-xs-3">
		<div id="ranking_table">
			<h1>User Ranking<i class="fas fa-crown" style="color: gray"></i></h1>
			<% @ranks.each.with_index(1) do |user, i| %>
		<!-- 	(1)で1から配列スタート 記載していないと0から始まる -->
				<div class="ranks">
					<%= link_to user_path(user) do %>
						<div class="row">
							<div class="col-xs-3">
								<h2>No.<%= i %></h2>
							</div>
							<div class="col-xs-3">
								<div class="post_user_image">
									<%= attachment_image_tag user, :icon_image,  format: 'jpeg', fallback: "20161008_noimage 2 2.png",size:'60x60', id:"mini_user_image",class:"img-circle"%>
								</div>
							</div>
							<div class="post_user_name">
								<div class="col-xs-4">
									<strong><%= user.name %></strong>
								</div>
							</div>
						</div>
						<br>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>