<div class="container">
	<div class="row">
		<h1>New Post</h1>
	</div>
	<div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					<%= form_for @post do |f| %>
	                <%= f.attachment_field :post_image %>
 		    	</div>
 		    </div>
 		    <div class="col-xs-5">
 		    	<div class="form-group">
 		    		<%= f.text_field :title %>
 		    	</div>
 		    	<div class="form-group">
 		    		<%= f.text_area :post_body %>
 		    	</div>
 		    </div>
 		    <div class="col-xs-2">
 		    	<div class="form-group">
 		    		<%= f.text_field :winding %>
 		    	</div>
 		    	<div class="form-group">
 		    		<%= f.text_field :item %>
 		    	</div>
 		    	<div class="form-group">
 		    		<%= f.text_field :size %>
 		    	</div>
 		    </div>
 		    <div class="col-xs-1">
 		    	<div class="form-group">
 		    		<%= f.submit '登録' , class:"btn-default btn-lg btn btn-primary " %>
    				<% end %>
    			</div>
 		    </div>
 	</div>
</div>