<div class="account">
  <h2 class="title1">Sign Up</h2>
  <div class="form_field">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <br>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, id:"form-style"%>
    </div>
    <br>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, id:"form-style" %>
    </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, id:"form-style"%>
    </div> 
    <br>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, id:"form-style"%>
      <br>
      <br>
      <%= f.submit "Sign up", class:"btn-transparent btn-lg", id:"btn" %>
    </div>
    </div>
  <% end %>
</div>



